*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.page{
    width: 1000px;
    margin: 0 auto;
} 
.navbar{
    height: 60px;
    width:900px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.search{
    height: 25px;
    width: 200px;
    background-color: #ffffff;
    color: lightgrey;
    display: flex;
    align-items: center;
}
.log{
    height: 25px;
    width: 50px;
    background-color: blue;
    margin-right: 30px;
    box-shadow: 3px 2px black;
}
.entry-one{
    height: 200px;
    width: 500px;
    border: #000000 3px solid;
    display: flex;
    direction: column;
    justify-content: space-around;
    margin-bottom: 20px;

}
.like-btn{
    height:25px;
    width:65px;
    background-color: #ffc107;
    box-shadow: 3px 2px black;
}
.two-right{
    display: flex;
    align-items: center;
}
.entry-two{
    height: 200px;
    width: 500px;
    border: #000000 3px solid;
    display: flex;
    justify-content: space-around;
}
.column-one{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-direction: column;
}
.right-column{
    height: 160px;
    width: 200px;
    margin-right: 90px;
    border: solid #000000 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.add-btn{
    height:40px;
    width:180px;
    background-color: #93c47d;
    box-shadow: black 3px 3px;
    font-size: larger;
}
.main{
    display: flex;
    justify-content: space-evenly;
}
.one-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}